body{
    font-family: 'Raleway', sans-serif;
}

.navbar{
    height: 15rem;
    margin-bottom: 1rem;
    background-color: #f90;
}

.navbar header {
    width: 100%;
    height: 100%;
    display: table;
}

.navbar header h1{
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Lobster', cursive, 'Raleway', 'Roboto', sans-serif;
}

.card-content{
    width: 98%;
    max-height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#preloader-modal{
  top: 1%;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  text-align: center;
}

#preloader-modal .modal-content{
  margin-top: 11rem;
}

.playing{
  border: 0.2rem solid #f90;
  margin: 0.5rem 0 0.6rem 0;
}

.played{
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fab-title{
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  min-height: 36px;
  line-height: 120%;
  opacity: 1;
  position: absolute;
  text-align: center;
  max-width: calc(100% - 4px);
  overflow: hidden;
  pointer-events: none;
  bottom: -18px;
}

.fab-title.left{
  right: 86px;
}

.fab-title.right{
  left: 86px;
}

.controls{
    display: none;
}

.controls .halfway-fab,
.controls .fab-title{
  position: fixed;
  z-index: 2;
}

.controls .halfway-fab{
  bottom: 10rem !important;
}

.controls .fab-title{
  bottom: 10.5rem !important;
}
